<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.shop.mapper.AreaMapper">
    <select id="queryAreaList"  resultType="com.ht.shop.entity.Area">
        select * from tb_area;
    </select>
</mapper>