<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ht.shop.mapper.HeadLineMapper">
    <select id="selectHeadLineList" resultType="com.ht.shop.entity.HeadLine">
        SELECT * FROM tb_headline ORDER BY priority desc limit 0,3
    </select>
</mapper>